<div id="show_star-<%= review.id %>" 
     class="raty-show" 
     data-star-on="<%= asset_path('star-on.png') %>" 
     data-star-off="<%= asset_path('star-off.png') %>" 
     data-score="<%= review.star %>">
</div>