<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1><strong>ReviewMate</strong>  へようこそ!</h1>
      <p class="py-3">
        <strong>ReviewMate</strong> は、SNSの感覚で投稿できるレビューサイトです!<br>
        商品一覧からレビューを投稿したい/閲覧したい商品を探して、
        詳細画面でレビューを確認することができます。<br>
        商品は、サイトの運営者が管理しますが、ご自身でも登録頂けます。
      </p>
    </div>
  </div>
</div>
